.imgdsanone img{display: none;}
.audioS audio{
	/*display: none;*/
}
.Start{
	display: block;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
     /*\position: absolute;
    z-index: 5;
     top:0;
    bottom: 0;
    left: 0;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
}
.Start img{
	position: absolute;
	top:0;
	width: 100%;
}
.Start em{
	position: absolute;
	top: 4.79rem;
    color: #c0c0c0;
    font-style: inherit;
    right: 3.34rem;
}

.InceptionSpace{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
     /*\position: absolute;
    z-index: 5;
     top:0;
    bottom: 0;
    left: 0;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
}
.InceptionSpace img{
	position: absolute;
	top:0;
	width: 100%;
}	

.InceptionSpace em{
	width: 0.82rem;
	height: 1rem;
	position: absolute;
	bottom: 0.46rem;
	display: none;
	z-index: 2;
	background: url(../images/WarpGate.png) no-repeat;
	background-size: 100% 100%;
    color: #c0c0c0;
    font-style: inherit;
    right: 0.52rem;
}

/*星际穿越*/
.Interstellar{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
     /*\position: absolute;
    z-index: 5;
     top:0;
    bottom: 0;
    left: 0;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
}
.Interstellar img{
	position: absolute;
	top:0;
	width: 100%;
}	

.Interstellar em{
	width: 0.82rem;
	height: 1rem;
	position: absolute;
	bottom: 0.46rem;
	display: none;
	z-index: 2;
	background: url(../images/WarpGate.png) no-repeat;
	background-size: 100% 100%;
    color: #c0c0c0;
    font-style: inherit;
    right: 0.52rem;
}


/*Batman*/
.Batman{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
}
.Batman img{
	position: absolute;
	top:0;
	width: 100%;
}	

.Batman em{
	width: 0.82rem;
	height: 1rem;
	position: absolute;
	bottom: 0.46rem;
	display: none;
	z-index: 2;
	background: url(../images/WarpGate.png) no-repeat;
	background-size: 100% 100%;
    color: #c0c0c0;
    font-style: inherit;
    right: 0.52rem;
}


/*Batman*/
.Memento{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
}
.Memento img{
	position: absolute;
	top:0;
	width: 100%;
}	

.Memento em{
	width: 0.82rem;
	height: 1rem;
	position: absolute;
	bottom: 0.46rem;
	display: none;
	z-index: 2;
	background: url(../images/WarpGate.png) no-repeat;
	background-size: 100% 100%;
    color: #c0c0c0;
    font-style: inherit;
    right: 0.52rem;
}

/*Batman*/
.Dunkirk{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
}
.Dunkirk img{
	position: absolute;
	top:0;
	width: 100%;
}	

.Dunkirk em{
	width: 0.82rem;
	height: 1rem;
	position: absolute;
	bottom: 0.46rem;
	display: none;
	z-index: 2;
	background: url(../images/WarpGate.png) no-repeat;
	background-size: 100% 100%;
    color: #c0c0c0;
    font-style: inherit;
    right: 0.52rem;
}

/*Batman*/
.End{
	display: none;
	background:#000000;
	position:relative;
	width: 6.4rem;
	height: 11.36rem;
}
.End img{
	position: absolute;
	top:0;
	width: 100%;
}	

.End a{
	width: 2.15rem;
	height:0.71rem;
	position: absolute;
	bottom: 0.46rem;
	display: block;
	z-index: 2;
	background: url(../images/icon.png) no-repeat;
	background-size: 100% 100%;
    left:0.78rem;
    bottom: 1.86rem;
}
.End a.last-child{
	left:inherit;
	right: 0.77rem;
	background-image: url(../images/icon2.png);
}
